body{ 
    background-color: #404040;
    color: #ffffff;
    padding: 1vw; 
}
h1{
 font-weight: 700;
 font-size: 36px;
}
h2{
 font-weight: 700;
 font-size: 30px;
}
li{
 font-size: 20px;   
}
#kep1{
    width: 100%;
    height: auto;
    border: 5px solid #000000;
}
#kep2{
    width: 100%;
    height: auto;
    border: 5px solid #000000;
}
#kep3{
    width: 100%;
    height: auto;
    border: 5px solid #000000;
}
#list3{
    list-style-type: none;
}
h3{
  font-size: 25px;  
}
