.nav-link {
    font-family: Arial, Helvetica, sans-serif, sans-serif !important;
}

.nav-item {
    font-family: 'Montserrat', sans-serif !important;
}

a.nav-link {
    font-family: 'Montserrat', sans-serif !important;
}

#ad {
    font-family: 'Montserrat', sans-serif !important;
}