body {
  background-image: url("../kepek/esportwin.jpg");
  background-attachment: fixed;
  padding-top: 65px;
}

body::-webkit-scrollbar {
  display: none;
}

.navbar {
  font-family: Montserrat;
  height: 82px;
}

.na {
  background-color: white;
  text-align: center;
}

.nav-link {
  font-size: 20px;
  background-color: white;
  border-radius: 50px;
  text-shadow: none;
}

.nav-link:hover {
  background-color: rgb(230, 230, 230);
}

.active {
  background-color: rgba(230, 230, 230);
  cursor: pointer;
}

.container {
  margin-top: 1%;
  margin-bottom: 1%;
  opacity: 1;
  text-shadow: 2px 2px 5px black;
}

.card {
  cursor: default;
  transition: all 0.1s ease-out;
}

*.card:hover {
  background-color: rgb(221, 221, 221);
  transform: scale(1.08);
  transition: all 0.1s ease-in;
}
.card-title {
  text-align: center;
  font-size: 200%;
}
.inner {
  overflow: hidden;
}

.h1 {
  padding: 10px;
  margin: 50px auto;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  text-transform: uppercase;
  font-size: 70px !important;
  color: white;
  text-align: center;
  opacity: 0.9;
}
.h2 {
  text-transform: uppercase;
  font-size: 150px;
  color: white;
  margin-right: 1%;
  text-align: right;
}

.card {
  height: 500px;
  margin-top: 10%;
  opacity: 0.9;
}
.card-text {
  font-size: 110%;
  text-align: center;
}
.test {
  height: 150px;
  font-size: 100px;
}
.text {
  font-size: 30px;
  padding: 10px;
  font-family: "Fredoka", sans-serif;
  text-shadow: 10px;
  height: 820px;
  opacity: 0.8;
  margin: 20px;
  color: white;
  background-color: grey;
  border-radius: 50px;
  text-overflow: ellipsis;
}
.display-4 {
  font-size: 130%;
  margin-top: 15px;
  text-align: center;
}
.h3 {
  font-size: 75%;
  text-indent: 20px;
  text-align: justify;
  padding: 10px;
}
.h4 {
  text-indent: 20px;
  text-align: justify;
  padding: 10px;
}
.img {
  border-radius: 20px;
  opacity: 0.8;
}

footer {
  margin-top: 80px;
  font-family: Montserrat;
}

.branding {
  padding: 10px 10px;
  text-align: center;
  font-size: 20px;
}

ul li {
  display: inline;
}

.navlist:hover {
  color: rgb(0, 121, 219);
}

.navlist {
  padding: 0 8px;
  text-decoration: none;
  color: rgb(221, 221, 221);
  transition: color 0.1s ease-in;
}

.navlist:hover {
  color: rgb(0, 121, 219);
}

@media only screen and (min-width: 992px) {
.kep {
  width: 110% !important;
}
}

@media only screen and (max-width: 991px) {
  .kep {
    width: 100% !important;
    border: 0 50vw none;
    width: auto;
    height: auto;
  }
}

@media only screen and (max-width: 767px) {
.card {
  height: fit-content !important;
  margin: 20px 30px;
}
}

@media only screen and (max-width: 450px) {
  h1 {
    font-size: 7vw !important;
  }

  h3 {
    font-size: 5vw !important;
  }
}
